Pillow
PyGithub
aiofiles
aiohttp
async_generator
asyncurban
beautifulsoup4
bs4
bwb
cfscrape
coffeehouse
covid
cowpy
cryptg
dnspython
emoji
gTTS-token
gTTS
geopy
gitpython
google-api-python-client
google-auth-oauthlib
google_images_download
googletrans
gsearch
hachoir
heroku3
httplib2
humanize
lxml
lyricsgenius
oauth2client
psycopg2-binary
pySmartDL
pybase64
pyfiglet
pylast
pymongo
python-barcode
python-dotenv
python-magic
pytube
pytz
qrcode
regex
requests
search-engine-parser
selenium
spamwatch
speedtest-cli
sqlalchemy
telegraph
telethon
tswift
urbandict
validators
wheel
wikipedia
youtube-dl
youtube-search-python
